body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links, .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* footer */
.footer{
    margin-top:4rem;
    background:#101827;
    color:white;
    padding:3.5rem 4rem 1rem;
}

.footer-content{
    display:grid;
    grid-template-columns:2fr 1fr 1fr 1fr;
    gap:3rem;
}

.footer-brand h3{
    color:#ff385c;
    font-weight:700;
    display:flex;
    align-items:center;
    gap:10px;
}

.footer-brand p{
    color:#cfcfcf;
    margin-top:1rem;
    line-height:1.7;
}

.social-icons{
    margin-top:1.2rem;
    display:flex;
    gap:1rem;
    font-size:1.3rem;
}

.social-icons i{
    cursor:pointer;
    transition:.3s;
}

.social-icons i:hover{
    color:#ff385c;
}

.footer-column{
    display:flex;
    flex-direction:column;
    gap:.7rem;
}

.footer-column h6{
    font-weight:700;
    margin-bottom:.8rem;
}

.footer-column a{
    color:#cfcfcf;
    text-decoration:none;
}

.footer-column a:hover{
    color:#ff385c;
}

.footer-bottom{
    margin-top:3rem;
    padding-top:1.5rem;
    border-top:1px solid rgba(255,255,255,.15);

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.footer-bottom p{
    margin:0;
    color:#cfcfcf;
}

.footer-bottom-links a{
    color:#cfcfcf;
    text-decoration:none;
    margin-left:1rem;
}

.footer-bottom-links a:hover{
    color:#ff385c;
}


/* Cards */
.listing-card{
    border:  none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

/* Card Effect */

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}


/* new page */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* edit page */
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* show page */
.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}

/* map */
#map{
    height: 400px;
    width: 100%;
    border-radius: 12px;
}

